variable "role_arn" {
  description = "The ARN of an existing role that Terraform should Assume"
}

provider "aws" {
  region = "${var.aws_region}"

  assume_role {
    role_arn     = "${var.role_arn}"
  }
}
